<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bot Crypto Signal</title>
</head>

<body>
  <div class="tradingview-widget-container">
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
      new TradingView.widget(
        {
          "width": 1176,
          "height": 732,
          "symbol": "BINANCE:BTCUSDT",
          "timezone": "Etc/UTC",
          "theme": "dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "interval": "60",
          "studies": [
            "MF@tv-basicstudies",
            "MAExp@tv-basicstudies",
            "RSI@tv-basicstudies"
          ],
          "container_id": "tradingview_2cc29"
        }
      );
    </script>
  </div>
</body>

</html>